#board {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: $header-height;
  padding-left: 340px;
  width: 100%;
  height: 100vh;
  transition: padding-left .5s;
}

.center {
  text-align: center;
}

.board {
  position: relative;
  height: 100%;
  padding: 2rem;
  overflow: auto;
  .b-contents {
  }
}
.board .contents {
  height: 100%;
}
