#codingtest {}
.codingtest {
  position: relative;
  height: 100%;
  .menu {
    width: 24%;
    margin-right: 3%;
    float: left;
    .language {
      position: relative;
      .value {
        box-shadow: 0 2px 4px 3px rgba(52, 69, 99, 0.1);
        border-radius: 5px;
        width: 100%;
        padding: 0 18px;
        font-size: 16px;
        font-weight: bold;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
      }
      
      .list {
        box-shadow: 0 2px 8px 3px rgba(52, 69, 99, 0.1);
        position: absolute;
        top: 34px;
        left: 0;
        background-color: #fff;
        margin-top: 10px;
        border-radius: 5px;
        width: 100%;
        overflow: hidden;
        border: none;
        height: 0px;
        z-index: 10;
        &.on {
          height: 149px;
          transition: height .5s;
        }
        .item {
          line-height: 36px;
          padding: 0 18px;
          font-size: 16px;
          border-bottom: 1px solid #dbdbdb;
          cursor: pointer;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }
  
    .test {
      position: absolute;
      width: 24%;
      border-radius: 5px;
      margin-top: 20px;
      box-shadow: 0 2px 4px 3px rgba(52, 69, 99, 0.1);
      padding: 15px 18px;
      height: calc(#{100%} - #{56px});
      overflow: auto;
      .sub-title {
        text-transform: uppercase;
        font-weight: bold;
        color: $shadow-color;
        font-size: 12px;
      }
      .group {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbdbdb;
        font-size: 15px;
        .level {
          text-decoration: none;
          font-weight: bold;
          font-weight: bold;
        }
        .list {
          .item {
            position: relative;
            padding: 3px 0px;
            cursor: pointer;
            &>* {
              color: #bcbcbc;
              vertical-align: middle;
            }

            svg {
              margin-right: 7px;
            }
            .i-title {
              display: inline-block;
              &:hover {
                text-decoration: underline;
              }
            }

            &.on {
              svg {
                color: $font-color;
              }
              .i-title {
                color: $font-color;
                font-weight: bold;
                text-decoration: underline;
              }
            }

            .checked,
            .checked+a {
              color: $font-color;
            }
          }
        }
      }
    }
  }

  .code {
    box-shadow: 0 2px 8px 3px rgba(52, 69, 99, 0.1);
    width: 73%;
    height: 100%;
    float: left;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    pre {
      padding: 20px 10px !important;
      margin: 0 !important;
      height: 100%;
      background-color: #ffffff !important;
      letter-spacing: normal;
      overflow: auto;
      code {
        font-size: 16px !important;
        background-color: #ffffff !important;
      }
    }
  }
}