.coursera {
  .tab-box {
    position: relative;
    text-align: center;
    .group {
      display: inline-block;
      &.icon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        float: right;
        a {
          cursor: pointer;
        }
        .icon-tab {
          width: 50px;
        }
      }

      .tab,
      .icon-tab {
        height: 40px;
        line-height: 38px;
        display: inline-block;
        padding: 0px 20px;
        text-decoration: none;
        border: 1px solid #bcbcbc;
        border-right: none;
        color: #bcbcbc;
        font-weight: 500;
        cursor: pointer;
        &:first-child {
          border-radius: 5px 0 0 5px;
        }
        &:last-child {
          border-right: 1px solid #bcbcbc;
          border-radius: 0 5px 5px 0;
        }
        &.on {
          color: $font-color;
          background-color: #fff;
          border: 1px solid #fff;
          box-shadow: -1px 2px 5px 1px rgba($color: $font-color, $alpha: 0.1);
          transition: all .3s;
        }
      }
      .icon-tab {
        line-height: 40px;
        padding: 0px;
      }
    }
  }

  .tab-content {
    display: none;
    margin-top: 30px;
    height: 100%;
    &.on {
      display: block;
    }

    // Table View
    .table-view {
      display: none;
      margin-bottom: 5%;
      &.on {
        display: block;
      }
      .table {
        box-shadow: -1px 2px 5px 1px rgba(52, 69, 99, 0.1);
        border-radius: 5px;
        overflow: hidden;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        
        tr {
          border-bottom: 1px solid #bcbcbc;
        }
        td {
          padding: 20px 10px;
          // border: 1px solid #bcbcbc;
        }
        th {
          padding: 10px 10px;
          font-weight: bold;
          // border: 1px solid #bcbcbc;
        }

        tbody {
          tr {
            cursor: pointer;
            &:hover {
              background-color: rgba($color: $font-color, $alpha: 0.1);
              transition: all .3s;
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }

    // Card View
    .card-view {
      display: none;
      &.on {
        display: block;
      }
      .card {
        // display: inline-block;
        float: left;
        width: 22.75%;
        padding: 24px;
        margin-right: 3%;
        margin-bottom: 3%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 8px 3px rgba(52, 69, 99, 0.1);
        height: 100%;
        cursor: pointer;
        box-sizing: border-box;
        &:nth-child(4n) {
          margin-right: 0;
        }
  
        .card-university {
          font-size: 12px;
          font-weight: 500;
        }
        .card-title {
          font-size: 20px;
          font-weight: 600;
          margin-top: 10px;
          // line-height: 1.5em;
          // height: 3em;
          // overflow: hidden;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;  
        }
        .card-description {
          font-size: 14px;
          margin-top: 10px;
          color: #344563d2;
          // line-height: 1.5em;
          // height: 3em;
          // overflow: hidden;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;  
        }
        .card-status {
          margin-top: 20px;
          .progressbar {
            position: relative;
            background-color: #eee;
            height: 18px;
            line-height: 18px;
            border-radius: 50px;
            font-size: 10px;
            .fill {
              position: absolute;
              border-radius: 50px 0 0 50px;
              height: 100%;
              width: 70%;
              top: 0;
              left: 0;
              background-color: $font-color;
              color: #fff;
              text-align: center;
              svg {
                @include position-center-y;
                right: -20px;
                color: $font-color;
                width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.1);
              }
            }
          }
        }
        .tags {
          margin-top: 15px;
          span {
            display: inline-block;
            padding: 2px 10px;
            border-radius: 20px;
            border: 1px solid rgba($color: $font-color, $alpha: 0.5);
            margin-right: 10px;
            margin-top: 10px;
            color: rgba($color: $font-color, $alpha: 0.5);
            font-size: 12px;
          }
        }
      }
    }
  }
}