#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  z-index: 301;
}

.header {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.2);
  &>* {
    height: $header-height;
    line-height: $header-height;
  }

  // Logo
  .logo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    &>* {
      float: left;
      font-size: $logo-font-size;
    }

    // Logo - Icon
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
    }

    // Logo - Text
    .text {
      padding-left: 40px;
      font-family: 'Pacifico', serif;
    }
  }

  // Profile
  .profile {
    float: right;
    font-size: $profile-font-size;
    &>* {
      float: left;
      height: $header-height;
      line-height: $header-height;
    }
    a>svg {
      font-size: 22px;
      display: inline-block;
      line-height: 56px;
      vertical-align: top;
      margin-top: 17px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .search {
      position: relative;
      svg {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        color: #999;
      }
      input {
        float: left;
        font-size: 14px;
        height: 30px;
        margin-top: 13px;
        padding: 10px 8px;
        padding-left: 35px;
        width: 150px;
        border: 1px solid #bcbcbc;
        border-radius: 20px;
        outline: none;
        &:focus {
          width: 200px;
          border: 1px solid $shadow-color;
          transition: all .3s;
          &+svg {
            color: $shadow-color;
            transition: all .3s;
          }
        }
      }
    }

    // Profile - Menu
    .notification-header {
      text-transform: uppercase;
      height: auto;
      line-height: normal;
      padding: 10px 15px;
      font-weight: bold;
      background-color: #eee;
      font-size: 12px;
    }
    .notification {
      display: block;
      cursor: pointer;
      min-width: 360px;
      padding: 10px 15px;
      height: auto;
      line-height: normal;
      border-bottom: 1px solid #eee;
      &:hover {
        background-color: #efefef;
      }
      .icon {
        margin-top: 4.5px;
        position: relative;
        float: left;
        width: 50px;
        height: 50px;
        border: 2px solid $shadow-color;
        border-radius: 10px;
        margin-right: 15px;
        
        svg {
          @include position-center;
          font-size: 24px;
        }
      }
      .body {
        float: left;
        .n-title {
          font-weight: bold;
        }
        .n-content {
          color: #666;
        }
        .n-time {
          font-weight: 400;
          font-size: 12px;
          color: #bcbcbc;
        }
      }
    }
    .image {
      position: relative;
      height: 100%;
      img {
        margin-top: calc((#{$header-height} - #{$profile-image-size})/2);
        width: $profile-image-size;
        height: $profile-image-size;
        border-radius: 50%;
        background-color: #fff;
        overflow: hidden;
        margin-right: 5px;
      }
      svg {
        margin-left: 30px;
      }
    }
    .divider {
      display: block;
      height: 1px;
      background-color: #e9ecef;
      margin: 5px 0;
    }
    .item {
      font-size: 14px;
      min-width: 100px;
      &:first-child {margin-top: 5px;}
      &:last-child {margin-bottom: 5px;}
      a {
        display: block;
        height: auto;
        line-height: normal;
        padding: 5px 20px;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}