.dropdown {
  position: relative;
  margin-left: 15px;
  font-size: 14px;
  .dropdown-target {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: #ffffff;
  }
  .list {
    position: absolute;
    border-radius: 5px;
    right: 0px;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.1);
    display: none;
    &.on {
      display: block;
    }
  }
}