.kanban {
  position: relative;
  float: left;
  width: 23.5%;
  margin-right: 2%;
  height: 100%;
  padding: 15px 0px;
  background-color: $background-color;
  border-radius: 5px;

  &:last-child {
    margin-right: 0;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 0 20px;
  }

  ul {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px;
    overflow: auto;
    .empty {
      text-align: center;
    }
    .card {
      position: relative;
      padding: 15px 20px;
      font-size: 12px;
      background-color: #fff;
      overflow: hidden;
      border-radius: 3px;
      // box-shadow: 2px 2px 6px 1px rgba($color: #000000, $alpha: 0.1);
      box-shadow: 0 2px 8px 3px rgba(52, 69, 99, 0.1);
      margin-top: 15px;
      // &:after {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   height: 100%;
      //   width: 4px;
      //   background-color: $shadow-color;
      // }
      &.repository {
        cursor: pointer;
        &.on,
        &:hover {
          background-color: #f5f5f5;
          transition: all .3s;
        }
      }

      .card-content{
        float: left;
        width: 68%;
        .sub-title {
          font-size: 14px;
          font-weight: bold;
          width: 100%;
        }
      }
    }

    
  }
}